<div class="col-md-12 start-estimate text-dark">
    <h1 class="text-dark more-spacing"> 
        Know the true value of your <b> rent control.</b>
    </h1>
    <p class="font-medium text-white">
       Simply enter your name and apartment details, and we’ll pull the latest market information about relocation payments in your neighborhood. Easier than getting Kelly Blue Book estimate. <br> <br>
    </p>
</div>

<%= form_for @quote, multipart:true do |f| %>

  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h3>
        <span class="errors">
          <%= pluralize(@quote.errors.count, "error") %>
         prohibited this quote from being saved: </span>
      </h3>
      <ul>
        <% @quote.errors.full_messages.each do |msg| %>
          <li class="errors"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- <section class="new-quote-form" class="col-md-9 left">
      <div class="left_contact">
          <form action="role">
              <div class="form-level">
                  <input name="name" placeholder="Name" id="name"  value="" type="text" class="input-block">
                  %= f.text_area :first_name, size:"35x1", :name=>"name", :placeholder=>"Name", :id=>"name",  :value=>"", :type=>"text", :class=>"input-block"%>
                  <span class="form-icon fa fa-user"></span>
              </div>
              <div class="form-level">
                  <input name="email" placeholder="Email" id="mail" class="input-block" value="" type="email">
                  <span class="form-icon fa fa-envelope-o"></span>
              </div>
          </form>
      </div> 
      </section>
      -->


  <div class="col-md-3 text-right">    <%= f.label :first_name, "First Name", :class=>"edit-label" %> </div>
  <div class="col-md-9 text-left">    <%= f.text_area :first_name, size:"35x1" %> </div>

  <div class="col-md-3 text-right">    <%= f.label :last_name, "Last Name", :class=>"edit-label" %> </div>
  <div class="col-md-9 text-left">    <%= f.text_area :last_name, size:"35x1" %> </div>

  <div class="col-md-3 text-right">    <%= f.label :email, "Email", :class=>"edit-label" %> </div>
  <div class="col-md-9 text-left">    <%= f.text_area :email, size:"35x1" %> </div>

  <div class="col-md-3 text-right">    <%= f.label :bedrooms, "Number of Bedrooms", :class=>"edit-label" %> </div>
  <div class="col-md-9 text-left">      <%= f.select :bedrooms, options_for_select(MarketRent.bedrooms_options, @quote.bedrooms) %> </div>

  <div class="col-md-3 text-right">    <%= f.label :neighborhood, "Neighborhood", :class=>"edit-label" %> </div>
  <div class="col-md-9 text-left">    <%= f.select :neighborhood, options_for_select(MarketRent.neighborhood_options, @quote.neighborhood) %> </div>

  <div class="col-md-3 text-right">    <%= f.label :condition, "What condition is the apartment in?", :class=>"edit-label" %> </div>
  <!-- This line causes formatting errors because the selector optiosn are too big for one line on mobile & thus expands the window into overflow -->
  <div class="col-md-9 text-left">   <%= f.select :condition, options_for_select(Quote.condition_options, @quote.condition), :class=>"dropdown-selectors" %> </div>
  <div class="col-md-3 text-right">    <%= f.label :current_rent, "How much do you currently pay in monthly rent?", :class=>"edit-label" %> </div>
  <div class="col-md-9 text-left">  <%= f.text_area :current_rent, size:"35x1" %> </div>
  

  <div class="col-md-12 text-center">
      <%= f.submit 'Request Your Estimate', :class=>"class=btn btn-featured font-cta" %>
  </div>
  <div class="vertical_space cl-b"> </div>

<% end %>