<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <title>Rent Masters - Empowering Tenants in San Francisco</title>
    <link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/rentmasters/RM-favicon.png">
    <!--     <link rel="icon" type="image/png" href="../assets/RM-favicon.png"> -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="description" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
         <!-- CSS
         ================================================== -->

         <!-- GOOGLE ANALYTICS TRACKING -->
         <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-71678893-1', 'auto');
          ga('send', 'pageview');

      </script>
  </head>
<body>

<header id="section_header" class="navbar-fixed-top main-nav" role="banner">
        <div class="container">
            <!-- <div class="row"> -->
                 <div class="navbar-header ">
                        <button type="button" class="navbar-toggle fl-r" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only"> navigation</span>
                            <span class="icon-bar">___</span>
                            <span class="icon-bar">___</span>
                            <span class="icon-bar">___</span>
                        </button>
                        <a class="navbar-brand" href="/index">
                            <!-- <img src="assets/rm-logo.jpg" alt="RentMasters.co" id="header-logo"/> -->
                            <img src="https://s3-us-west-2.amazonaws.com/rentmasters/rm-logo.jpg" alt="RentMasters.co" id="header-logo"/>
                        </a>
                 </div><!--Navbar header End-->
                    <nav class="collapse navbar-collapse navigation" id="bs-example-navbar-collapse-1" role="navigation">
                        <ul class="nav navbar-nav navbar-right ">
                            <li class="active"><a href="/quotes/new" class="page-scroll">Get an Estimate </a> </li>
                            <li><a href="/#how-it-works" class="page-scroll">How It Works </a></li>
                            <li><a href="/#pricing" class="page-scroll" >Pricing</a> </li>
                            <li><a href="/#faqs"  class="page-scroll">FAQs</a> </li>
                            <li><a href="/#about" class="page-scroll">About Us</a> </li>
                            <li><a href="/#contact" class="page-scroll">Contact Us</a> </li>
                        </ul>
                     </nav>
                </div><!-- /.container-fluid -->
</header>

<div class="vertical_space cl-b"> </div>

<%= yield %>

<div class="cl-b">
      <%= debug(params) if Rails.env.development? %>
</div>

</body>

<!-- Footer -->
<!-- Footer Area Start -->

<section id="footer" class="cl-b">

    <div class="footer_b">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer_bottom">
                        <p class="text-block"> &copy; Copyright reserved to <span>Rent Masters, LLC. </span></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer_mid pull-right">
                        <ul class="social-contact list-inline">
                            <li> <a href="/terms_of_service" class="footer-links">Terms of Service </a></li>
                            <li> <a href="/privacy_policy" class="footer-links">Privacy Policy </a></li>
                            <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="#"><i class="fa fa-rss"></i></a></li>
                            <li> <a href="#"><i class="fa fa-google-plus"></i> </a></li>
                            <li><a href="#"> <i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"> <i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Footer Area End -->


    <!-- /.container -->

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: false //changes the speed
    })
    </script>
</html>
